.wp-5 {
    width: 5%;
}

.wp-10 {
    width: 10%;
}

.wp-15 {
    width: 15%;
}

.wp-20 {
    width: 20%;
}

.wp-25 {
    width: 25%;
}

.wp-30 {
    width: 30%;
}

.wp-33 {
    width: 33%;
}

.wp-35 {
    width: 35%;
}

.wp-40 {
    width: 40%;
}

.wp-45 {
    width: 45%;
}

.wp-50 {
    width: 50%;
}

.wp-55 {
    width: 55%;
}

.wp-60 {
    width: 60%;
}

.wp-65 {
    width: 65%;
}

.wp-70 {
    width: 70%;
}

.wp-75 {
    width: 75%;
}

.wp-80 {
    width: 80%;
}

.wp-85 {
    width: 85%;
}

.wp-90 {
    width: 90%;
}

.wp-95 {
    width: 90%;
}

.wp-100 {
    width: 100%;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .wp-lg-5 {
        width: 5%;
    }
    
    .wp-lg-10 {
        width: 10%;
    }
    
    .wp-lg-15 {
        width: 15%;
    }
    
    .wp-lg-20 {
        width: 20%;
    }
    
    .wp-lg-25 {
        width: 25%;
    }
    
    .wp-lg-30 {
        width: 30%;
    }
    
    .wp-lg-33 {
        width: 33%;
    }
    
    .wp-lg-35 {
        width: 35%;
    }
    
    .wp-lg-40 {
        width: 40%;
    }
    
    .wp-lg-45 {
        width: 45%;
    }
    
    .wp-lg-50 {
        width: 50%;
    }
    
    .wp-lg-55 {
        width: 55%;
    }
    
    .wp-lg-60 {
        width: 60%;
    }
    
    .wp-lg-65 {
        width: 65%;
    }
    
    .wp-lg-70 {
        width: 70%;
    }
    
    .wp-lg-75 {
        width: 75%;
    }
    
    .wp-lg-80 {
        width: 80%;
    }
    
    .wp-lg-85 {
        width: 85%;
    }
    
    .wp-lg-90 {
        width: 90%;
    }
    
    .wp-lg-95 {
        width: 90%;
    }
    
    .wp-lg-100 {
        width: 100%;
    }
}
/* ========================================= */
.hp-5 {
    height: 5%;
}

.hp-10 {
    height: 10%;
}

.hp-15 {
    height: 15%;
}


.hp-20 {
    width: 20%;
}

.hp-25 {
    height: 25%;
}

.hp-30 {
    height: 30%;
}

.hp-33 {
    height: 33%;
}

.hp-35 {
    height: 35%;
}

.hp-40 {
    height: 40%;
}

.hp-45 {
    height: 45%;
}

.hp-50 {
    height: 50%;
}

.hp-55 {
    height: 55%;
}

.hp-60 {
    height: 60%;
}

.hp-65 {
    height: 65%;
}

.hp-70 {
    height: 70%;
}

.hp-75 {
    height: 75%;
}

.hp-80 {
    height: 80%;
}

.hp-85 {
    height: 85%;
}

.hp-90 {
    height: 90%;
}

.hp-95 {
    height: 90%;
}

.hp-100 {
    height: 100%;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .hp-lg-5 {
        height: 5%;
    }
    
    .hp-lg-10 {
        height: 10%;
    }
    
    .hp-lg-15 {
        height: 15%;
    }
    
    
    .hp-lg-20 {
        width: 20%;
    }
    
    .hp-lg-25 {
        height: 25%;
    }
    
    .hp-lg-30 {
        height: 30%;
    }
    
    .hp-lg-33 {
        height: 33%;
    }
    
    .hp-lg-35 {
        height: 35%;
    }
    
    .hp-lg-40 {
        height: 40%;
    }
    
    .hp-lg-45 {
        height: 45%;
    }
    
    .hp-lg-50 {
        height: 50%;
    }
    
    .hp-lg-55 {
        height: 55%;
    }
    
    .hp-lg-60 {
        height: 60%;
    }
    
    .hp-lg-65 {
        height: 65%;
    }
    
    .hp-lg-70 {
        height: 70%;
    }
    
    .hp-lg-75 {
        height: 75%;
    }
    
    .hp-lg-80 {
        height: 80%;
    }
    
    .hp-lg-85 {
        height: 85%;
    }
    
    .hp-lg-90 {
        height: 90%;
    }
    
    .hp-lg-95 {
        height: 90%;
    }
    
    .hp-lg-100 {
        height: 100%;
    }
}
/* ========================================= */
.f-s-033 {
    font-size: 0.33cqmax;
}

.f-s-05 {
    font-size: 0.5cqmax;
}

.f-s-1 {
    font-size: 1cqmax;
}

.f-s-15 {
    font-size: 1.5cqmax;
}

.f-s-2 {
    font-size: 2cqmax;
}

.f-s-25 {
    font-size: 2.5cqmax;
}

.f-s-3 {
    font-size: 3cqmax;
}

.f-s-35 {
    font-size: 3.5cqmax;
}

.f-s-4 {
    font-size: 4cqmax;
}

.f-s-45 {
    font-size: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .f-s-lg-033 {
        font-size: 0.33cqmax;
    }
    
    .f-s-lg-05 {
        font-size: 0.5cqmax;
    }
    
    .f-s-lg-1 {
        font-size: 1cqmax;
    }
    
    .f-s-lg-15 {
        font-size: 1.5cqmax;
    }
    
    .f-s-lg-2 {
        font-size: 2cqmax;
    }
    
    .f-s-lg-25 {
        font-size: 2.5cqmax;
    }
    
    .f-s-lg-3 {
        font-size: 3cqmax;
    }
    
    .f-s-lg-35 {
        font-size: 3.5cqmax;
    }
    
    .f-s-lg-4 {
        font-size: 4cqmax;
    }
    
    .f-s-lg-45 {
        font-size: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .f-s-md-033 {
        font-size: 0.33cqmax;
    }
    
    .f-s-md-05 {
        font-size: 0.5cqmax;
    }
    
    .f-s-md-1 {
        font-size: 1cqmax;
    }
    
    .f-s-md-15 {
        font-size: 1.5cqmax;
    }
    
    .f-s-md-2 {
        font-size: 2cqmax;
    }
    
    .f-s-md-25 {
        font-size: 2.5cqmax;
    }
    
    .f-s-md-3 {
        font-size: 3cqmax;
    }
    
    .f-s-md-35 {
        font-size: 3.5cqmax;
    }
    
    .f-s-md-4 {
        font-size: 4cqmax;
    }
    
    .f-s-md-45 {
        font-size: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .f-s-sm-033 {
        font-size: 0.33cqmax;
    }
    
    .f-s-sm-05 {
        font-size: 0.5cqmax;
    }
    
    .f-s-sm-1 {
        font-size: 1cqmax;
    }
    
    .f-s-sm-15 {
        font-size: 1.5cqmax;
    }
    
    .f-s-sm-2 {
        font-size: 2cqmax;
    }
    
    .f-s-sm-25 {
        font-size: 2.5cqmax;
    }
    
    .f-s-sm-3 {
        font-size: 3cqmax;
    }
    
    .f-s-sm-35 {
        font-size: 3.5cqmax;
    }
    
    .f-s-sm-4 {
        font-size: 4cqmax;
    }
    
    .f-s-sm-45 {
        font-size: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .f-s-xs-033 {
        font-size: 0.33cqmax;
    }
    
    .f-s-xs-05 {
        font-size: 0.5cqmax;
    }
    
    .f-s-xs-1 {
        font-size: 1cqmax;
    }
    
    .f-s-xs-15 {
        font-size: 1.5cqmax;
    }
    
    .f-s-xs-2 {
        font-size: 2cqmax;
    }
    
    .f-s-xs-25 {
        font-size: 2.5cqmax;
    }
    
    .f-s-xs-3 {
        font-size: 3cqmax;
    }
    
    .f-s-xs-35 {
        font-size: 3.5cqmax;
    }
    
    .f-s-xs-4 {
        font-size: 4cqmax;
    }
    
    .f-s-xs-45 {
        font-size: 4.5cqmax;
    }
}
/* ========================================= */
.wc-033 {
    width: 0.33cqmax;
}

.wc-05 {
    width: 0.5cqmax;
}

.wc-1 {
    width: 1cqmax;
}

.wc-15 {
    width: 1.5cqmax;
}

.wc-2 {
    width: 2cqmax;
}

.wc-25 {
    width: 2.5cqmax;
}

.wc-3 {
    width: 3cqmax;
}

.wc-35 {
    width: 3.5cqmax;
}

.wc-4 {
    width: 4cqmax;
}

.wc-45 {
    width: 4.5cqmax;
}

.wc-5 {
    width: 5cqmax;
}

.wc-55 {
    width: 5.5cqmax;
}

.wc-6 {
    width: 6cqmax;
}

.wc-65 {
    width: 6.5cqmax;
}

.wc-7 {
    width: 7cqmax;
}

.wc-75 {
    width: 7.5cqmax;
}

.wc-8 {
    width: 8cqmax;
}

.wc-85 {
    width: 8.5cqmax;
}

.wc-9 {
    width: 9cqmax;
}

.wc-95 {
    width: 9.5cqmax;
}

.wc-10 {
    width: 10cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .wc-lg-033 {
        width: 0.33cqmax;
    }
    
    .wc-lg-05 {
        width: 0.5cqmax;
    }
    
    .wc-lg-1 {
        width: 1cqmax;
    }
    
    .wc-lg-15 {
        width: 1.5cqmax;
    }
    
    .wc-lg-2 {
        width: 2cqmax;
    }
    
    .wc-lg-25 {
        width: 2.5cqmax;
    }
    
    .wc-lg-3 {
        width: 3cqmax;
    }
    
    .wc-lg-35 {
        width: 3.5cqmax;
    }
    
    .wc-lg-4 {
        width: 4cqmax;
    }
    
    .wc-lg-45 {
        width: 4.5cqmax;
    }
    
    .wc-lg-5 {
        width: 5cqmax;
    }
    
    .wc-lg-55 {
        width: 5.5cqmax;
    }
    
    .wc-lg-6 {
        width: 6cqmax;
    }
    
    .wc-lg-65 {
        width: 6.5cqmax;
    }
    
    .wc-lg-7 {
        width: 7cqmax;
    }
    
    .wc-lg-75 {
        width: 7.5cqmax;
    }
    
    .wc-lg-8 {
        width: 8cqmax;
    }
    
    .wc-lg-85 {
        width: 8.5cqmax;
    }
    
    .wc-lg-9 {
        width: 9cqmax;
    }
    
    .wc-lg-95 {
        width: 9.5cqmax;
    }
    
    .wc-lg-10 {
        width: 10cqmax;
    }
}
/* ========================================= */
.hc-033 {
    height: 0.33cqmax;
}

.hc-05 {
    height: 0.5cqmax;
}

.hc-1 {
    height: 1cqmax;
}

.hc-15 {
    height: 1.5cqmax;
}

.hc-2 {
    height: 2cqmax;
}

.hc-25 {
    height: 2.5cqmax;
}

.hc-3 {
    height: 3cqmax;
}

.hc-35 {
    height: 3.5cqmax;
}

.hc-4 {
    height: 4cqmax;
}

.hc-45 {
    height: 4.5cqmax;
}

.hc-5 {
    height: 5cqmax;
}

.hc-55 {
    height: 5.5cqmax;
}

.hc-6 {
    height: 6cqmax;
}

.hc-65 {
    height: 6.5cqmax;
}

.hc-7 {
    height: 7cqmax;
}

.hc-75 {
    height: 7.5cqmax;
}

.hc-8 {
    height: 8cqmax;
}

.hc-85 {
    height: 8.5cqmax;
}

.hc-9 {
    height: 9cqmax;
}

.hc-95 {
    height: 9.5cqmax;
}

.hc-10 {
    height: 10cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .hc-lg-033 {
        height: 0.33cqmax;
    }
    
    .hc-lg-05 {
        height: 0.5cqmax;
    }
    
    .hc-lg-1 {
        height: 1cqmax;
    }
    
    .hc-lg-15 {
        height: 1.5cqmax;
    }
    
    .hc-lg-2 {
        height: 2cqmax;
    }
    
    .hc-lg-25 {
        height: 2.5cqmax;
    }
    
    .hc-lg-3 {
        height: 3cqmax;
    }
    
    .hc-lg-35 {
        height: 3.5cqmax;
    }
    
    .hc-lg-4 {
        height: 4cqmax;
    }
    
    .hc-lg-45 {
        height: 4.5cqmax;
    }
    
    .hc-lg-5 {
        height: 5cqmax;
    }
    
    .hc-lg-55 {
        height: 5.5cqmax;
    }
    
    .hc-lg-6 {
        height: 6cqmax;
    }
    
    .hc-lg-65 {
        height: 6.5cqmax;
    }
    
    .hc-lg-7 {
        height: 7cqmax;
    }
    
    .hc-lg-75 {
        height: 7.5cqmax;
    }
    
    .hc-lg-8 {
        height: 8cqmax;
    }
    
    .hc-lg-85 {
        height: 8.5cqmax;
    }
    
    .hc-lg-9 {
        height: 9cqmax;
    }
    
    .hc-lg-95 {
        height: 9.5cqmax;
    }
    
    .hc-lg-10 {
        height: 10cqmax;
    }
}
/* ========================================= */
.pa-033 {
    padding: 0.33cqmax;
}

.pa-05 {
    padding: 0.5cqmax;
}

.pa-1 {
    padding: 1cqmax;
}

.pa-15 {
    padding: 1.5cqmax;
}

.pa-2 {
    padding: 2cqmax;
}

.pa-25 {
    padding: 2.5cqmax;
}

.pa-3 {
    padding: 3cqmax;
}

.pa-35 {
    padding: 3.5cqmax;
}

.pa-4 {
    padding: 4cqmax;
}

.pa-45 {
    padding: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .pa-lg-033 {
        padding: 0.33cqmax;
    }
    
    .pa-lg-05 {
        padding: 0.5cqmax;
    }
    
    .pa-lg-1 {
        padding: 1cqmax;
    }
    
    .pa-lg-15 {
        padding: 1.5cqmax;
    }
    
    .pa-lg-2 {
        padding: 2cqmax;
    }
    
    .pa-lg-25 {
        padding: 2.5cqmax;
    }
    
    .pa-lg-3 {
        padding: 3cqmax;
    }
    
    .pa-lg-35 {
        padding: 3.5cqmax;
    }
    
    .pa-lg-4 {
        padding: 4cqmax;
    }
    
    .pa-lg-45 {
        padding: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .pa-md-033 {
        padding: 0.33cqmax;
    }
    
    .pa-md-05 {
        padding: 0.5cqmax;
    }
    
    .pa-md-1 {
        padding: 1cqmax;
    }
    
    .pa-md-15 {
        padding: 1.5cqmax;
    }
    
    .pa-md-2 {
        padding: 2cqmax;
    }
    
    .pa-md-25 {
        padding: 2.5cqmax;
    }
    
    .pa-md-3 {
        padding: 3cqmax;
    }
    
    .pa-md-35 {
        padding: 3.5cqmax;
    }
    
    .pa-md-4 {
        padding: 4cqmax;
    }
    
    .pa-md-45 {
        padding: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .pa-sm-033 {
        padding: 0.33cqmax;
    }
    
    .pa-sm-05 {
        padding: 0.5cqmax;
    }
    
    .pa-sm-1 {
        padding: 1cqmax;
    }
    
    .pa-sm-15 {
        padding: 1.5cqmax;
    }
    
    .pa-sm-2 {
        padding: 2cqmax;
    }
    
    .pa-sm-25 {
        padding: 2.5cqmax;
    }
    
    .pa-sm-3 {
        padding: 3cqmax;
    }
    
    .pa-sm-35 {
        padding: 3.5cqmax;
    }
    
    .pa-sm-4 {
        padding: 4cqmax;
    }
    
    .pa-sm-45 {
        padding: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .pa-xs-033 {
        padding: 0.33cqmax;
    }
    
    .pa-xs-05 {
        padding: 0.5cqmax;
    }
    
    .pa-xs-1 {
        padding: 1cqmax;
    }
    
    .pa-xs-15 {
        padding: 1.5cqmax;
    }
    
    .pa-xs-2 {
        padding: 2cqmax;
    }
    
    .pa-xs-25 {
        padding: 2.5cqmax;
    }
    
    .pa-xs-3 {
        padding: 3cqmax;
    }
    
    .pa-xs-35 {
        padding: 3.5cqmax;
    }
    
    .pa-xs-4 {
        padding: 4cqmax;
    }
    
    .pa-xs-45 {
        padding: 4.5cqmax;
    }
}
/* ========================================= */
.pa-t-033 {
    padding-top: 0.33cqmax;
}

.pa-t-05 {
    padding-top: 0.5cqmax;
}

.pa-t-1 {
    padding-top: 1cqmax;
}

.pa-t-15 {
    padding-top: 1.5cqmax;
}

.pa-t-2 {
    padding-top: 2cqmax;
}

.pa-t-25 {
    padding-top: 2.5cqmax;
}

.pa-t-3 {
    padding-top: 3cqmax;
}

.pa-t-35 {
    padding-top: 3.5cqmax;
}

.pa-t-4 {
    padding-top: 4cqmax;
}

.pa-t-45 {
    padding-top: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .pa-t-lg-033 {
        padding-top: 0.33cqmax;
    }
    
    .pa-t-lg-05 {
        padding-top: 0.5cqmax;
    }
    
    .pa-t-lg-1 {
        padding-top: 1cqmax;
    }
    
    .pa-t-lg-15 {
        padding-top: 1.5cqmax;
    }
    
    .pa-t-lg-2 {
        padding-top: 2cqmax;
    }
    
    .pa-t-lg-25 {
        padding-top: 2.5cqmax;
    }
    
    .pa-t-lg-3 {
        padding-top: 3cqmax;
    }
    
    .pa-t-lg-35 {
        padding-top: 3.5cqmax;
    }
    
    .pa-t-lg-4 {
        padding-top: 4cqmax;
    }
    
    .pa-t-lg-45 {
        padding-top: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .pa-t-md-033 {
        padding-top: 0.33cqmax;
    }
    
    .pa-t-md-05 {
        padding-top: 0.5cqmax;
    }
    
    .pa-t-md-1 {
        padding-top: 1cqmax;
    }
    
    .pa-t-md-15 {
        padding-top: 1.5cqmax;
    }
    
    .pa-t-md-2 {
        padding-top: 2cqmax;
    }
    
    .pa-t-md-25 {
        padding-top: 2.5cqmax;
    }
    
    .pa-t-md-3 {
        padding-top: 3cqmax;
    }
    
    .pa-t-md-35 {
        padding-top: 3.5cqmax;
    }
    
    .pa-t-md-4 {
        padding-top: 4cqmax;
    }
    
    .pa-t-md-45 {
        padding-top: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .pa-t-sm-033 {
        padding-top: 0.33cqmax;
    }
    
    .pa-t-sm-05 {
        padding-top: 0.5cqmax;
    }
    
    .pa-t-sm-1 {
        padding-top: 1cqmax;
    }
    
    .pa-t-sm-15 {
        padding-top: 1.5cqmax;
    }
    
    .pa-t-sm-2 {
        padding-top: 2cqmax;
    }
    
    .pa-t-sm-25 {
        padding-top: 2.5cqmax;
    }
    
    .pa-t-sm-3 {
        padding-top: 3cqmax;
    }
    
    .pa-t-sm-35 {
        padding-top: 3.5cqmax;
    }
    
    .pa-t-sm-4 {
        padding-top: 4cqmax;
    }
    
    .pa-t-sm-45 {
        padding-top: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .pa-t-xs-033 {
        padding-top: 0.33cqmax;
    }
    
    .pa-t-xs-05 {
        padding-top: 0.5cqmax;
    }
    
    .pa-t-xs-1 {
        padding-top: 1cqmax;
    }
    
    .pa-t-xs-15 {
        padding-top: 1.5cqmax;
    }
    
    .pa-t-xs-2 {
        padding-top: 2cqmax;
    }
    
    .pa-t-xs-25 {
        padding-top: 2.5cqmax;
    }
    
    .pa-t-xs-3 {
        padding-top: 3cqmax;
    }
    
    .pa-t-xs-35 {
        padding-top: 3.5cqmax;
    }
    
    .pa-t-xs-4 {
        padding-top: 4cqmax;
    }
    
    .pa-t-xs-45 {
        padding-top: 4.5cqmax;
    }
}
/* ========================================= */
.pa-b-033 {
    padding-bottom: 0.33cqmax;
}

.pa-b-05 {
    padding-bottom: 0.5cqmax;
}

.pa-b-1 {
    padding-bottom: 1cqmax;
}

.pa-b-15 {
    padding-bottom: 1.5cqmax;
}

.pa-b-2 {
    padding-bottom: 2cqmax;
}

.pa-b-25 {
    padding-bottom: 2.5cqmax;
}

.pa-b-3 {
    padding-bottom: 3cqmax;
}

.pa-b-35 {
    padding-bottom: 3.5cqmax;
}

.pa-b-4 {
    padding-bottom: 4cqmax;
}

.pa-b-45 {
    padding-bottom: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .pa-b-lg-033 {
        padding-bottom: 0.33cqmax;
    }
    
    .pa-b-lg-05 {
        padding-bottom: 0.5cqmax;
    }
    
    .pa-b-lg-1 {
        padding-bottom: 1cqmax;
    }
    
    .pa-b-lg-15 {
        padding-bottom: 1.5cqmax;
    }
    
    .pa-b-lg-2 {
        padding-bottom: 2cqmax;
    }
    
    .pa-b-lg-25 {
        padding-bottom: 2.5cqmax;
    }
    
    .pa-b-lg-3 {
        padding-bottom: 3cqmax;
    }
    
    .pa-b-lg-35 {
        padding-bottom: 3.5cqmax;
    }
    
    .pa-b-lg-4 {
        padding-bottom: 4cqmax;
    }
    
    .pa-b-lg-45 {
        padding-bottom: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .pa-b-md-033 {
        padding-bottom: 0.33cqmax;
    }
    
    .pa-b-md-05 {
        padding-bottom: 0.5cqmax;
    }
    
    .pa-b-md-1 {
        padding-bottom: 1cqmax;
    }
    
    .pa-b-md-15 {
        padding-bottom: 1.5cqmax;
    }
    
    .pa-b-md-2 {
        padding-bottom: 2cqmax;
    }
    
    .pa-b-md-25 {
        padding-bottom: 2.5cqmax;
    }
    
    .pa-b-md-3 {
        padding-bottom: 3cqmax;
    }
    
    .pa-b-md-35 {
        padding-bottom: 3.5cqmax;
    }
    
    .pa-b-md-4 {
        padding-bottom: 4cqmax;
    }
    
    .pa-b-md-45 {
        padding-bottom: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .pa-b-sm-033 {
        padding-bottom: 0.33cqmax;
    }
    
    .pa-b-sm-05 {
        padding-bottom: 0.5cqmax;
    }
    
    .pa-b-sm-1 {
        padding-bottom: 1cqmax;
    }
    
    .pa-b-sm-15 {
        padding-bottom: 1.5cqmax;
    }
    
    .pa-b-sm-2 {
        padding-bottom: 2cqmax;
    }
    
    .pa-b-sm-25 {
        padding-bottom: 2.5cqmax;
    }
    
    .pa-b-sm-3 {
        padding-bottom: 3cqmax;
    }
    
    .pa-b-sm-35 {
        padding-bottom: 3.5cqmax;
    }
    
    .pa-b-sm-4 {
        padding-bottom: 4cqmax;
    }
    
    .pa-b-sm-45 {
        padding-bottom: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .pa-b-xs-033 {
        padding-bottom: 0.33cqmax;
    }
    
    .pa-b-xs-05 {
        padding-bottom: 0.5cqmax;
    }
    
    .pa-b-xs-1 {
        padding-bottom: 1cqmax;
    }
    
    .pa-b-xs-15 {
        padding-bottom: 1.5cqmax;
    }
    
    .pa-b-xs-2 {
        padding-bottom: 2cqmax;
    }
    
    .pa-b-xs-25 {
        padding-bottom: 2.5cqmax;
    }
    
    .pa-b-xs-3 {
        padding-bottom: 3cqmax;
    }
    
    .pa-b-xs-35 {
        padding-bottom: 3.5cqmax;
    }
    
    .pa-b-xs-4 {
        padding-bottom: 4cqmax;
    }
    
    .pa-b-xs-45 {
        padding-bottom: 4.5cqmax;
    }
}
/* ========================================= */
.pa-r-033 {
    padding-right: 0.33cqmax;
}

.pa-r-05 {
    padding-right: 0.5cqmax;
}

.pa-r-1 {
    padding-right: 1cqmax;
}

.pa-r-15 {
    padding-right: 1.5cqmax;
}

.pa-r-2 {
    padding-right: 2cqmax;
}

.pa-r-25 {
    padding-right: 2.5cqmax;
}

.pa-r-3 {
    padding-right: 3cqmax;
}

.pa-r-35 {
    padding-right: 3.5cqmax;
}

.pa-r-4 {
    padding-right: 4cqmax;
}

.pa-r-45 {
    padding-right: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .pa-r-lg-033 {
        padding-right: 0.33cqmax;
    }
    
    .pa-r-lg-05 {
        padding-right: 0.5cqmax;
    }
    
    .pa-r-lg-1 {
        padding-right: 1cqmax;
    }
    
    .pa-r-lg-15 {
        padding-right: 1.5cqmax;
    }
    
    .pa-r-lg-2 {
        padding-right: 2cqmax;
    }
    
    .pa-r-lg-25 {
        padding-right: 2.5cqmax;
    }
    
    .pa-r-lg-3 {
        padding-right: 3cqmax;
    }
    
    .pa-r-lg-35 {
        padding-right: 3.5cqmax;
    }
    
    .pa-r-lg-4 {
        padding-right: 4cqmax;
    }
    
    .pa-r-lg-45 {
        padding-right: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .pa-r-md-033 {
        padding-right: 0.33cqmax;
    }
    
    .pa-r-md-05 {
        padding-right: 0.5cqmax;
    }
    
    .pa-r-md-1 {
        padding-right: 1cqmax;
    }
    
    .pa-r-md-15 {
        padding-right: 1.5cqmax;
    }
    
    .pa-r-md-2 {
        padding-right: 2cqmax;
    }
    
    .pa-r-md-25 {
        padding-right: 2.5cqmax;
    }
    
    .pa-r-md-3 {
        padding-right: 3cqmax;
    }
    
    .pa-r-md-35 {
        padding-right: 3.5cqmax;
    }
    
    .pa-r-md-4 {
        padding-right: 4cqmax;
    }
    
    .pa-r-md-45 {
        padding-right: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .pa-r-sm-033 {
        padding-right: 0.33cqmax;
    }
    
    .pa-r-sm-05 {
        padding-right: 0.5cqmax;
    }
    
    .pa-r-sm-1 {
        padding-right: 1cqmax;
    }
    
    .pa-r-sm-15 {
        padding-right: 1.5cqmax;
    }
    
    .pa-r-sm-2 {
        padding-right: 2cqmax;
    }
    
    .pa-r-sm-25 {
        padding-right: 2.5cqmax;
    }
    
    .pa-r-sm-3 {
        padding-right: 3cqmax;
    }
    
    .pa-r-sm-35 {
        padding-right: 3.5cqmax;
    }
    
    .pa-r-sm-4 {
        padding-right: 4cqmax;
    }
    
    .pa-r-sm-45 {
        padding-right: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .pa-r-xs-033 {
        padding-right: 0.33cqmax;
    }
    
    .pa-r-xs-05 {
        padding-right: 0.5cqmax;
    }
    
    .pa-r-xs-1 {
        padding-right: 1cqmax;
    }
    
    .pa-r-xs-15 {
        padding-right: 1.5cqmax;
    }
    
    .pa-r-xs-2 {
        padding-right: 2cqmax;
    }
    
    .pa-r-xs-25 {
        padding-right: 2.5cqmax;
    }
    
    .pa-r-xs-3 {
        padding-right: 3cqmax;
    }
    
    .pa-r-xs-35 {
        padding-right: 3.5cqmax;
    }
    
    .pa-r-xs-4 {
        padding-right: 4cqmax;
    }
    
    .pa-r-xs-45 {
        padding-right: 4.5cqmax;
    }
}
/* ========================================= */
.pa-l-033 {
    padding-left: 0.33cqmax;
}

.pa-l-05 {
    padding-left: 0.5cqmax;
}

.pa-l-1 {
    padding-left: 1cqmax;
}

.pa-l-15 {
    padding-left: 1.5cqmax;
}

.pa-l-2 {
    padding-left: 2cqmax;
}

.pa-l-25 {
    padding-left: 2.5cqmax;
}

.pa-l-3 {
    padding-left: 3cqmax;
}

.pa-l-35 {
    padding-left: 3.5cqmax;
}

.pa-l-4 {
    padding-left: 4cqmax;
}

.pa-l-45 {
    padding-left: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .pa-l-lg-033 {
        padding-left: 0.33cqmax;
    }
    
    .pa-l-lg-05 {
        padding-left: 0.5cqmax;
    }
    
    .pa-l-lg-1 {
        padding-left: 1cqmax;
    }
    
    .pa-l-lg-15 {
        padding-left: 1.5cqmax;
    }
    
    .pa-l-lg-2 {
        padding-left: 2cqmax;
    }
    
    .pa-l-lg-25 {
        padding-left: 2.5cqmax;
    }
    
    .pa-l-lg-3 {
        padding-left: 3cqmax;
    }
    
    .pa-l-lg-35 {
        padding-left: 3.5cqmax;
    }
    
    .pa-l-lg-4 {
        padding-left: 4cqmax;
    }
    
    .pa-l-lg-45 {
        padding-left: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .pa-l-md-033 {
        padding-left: 0.33cqmax;
    }
    
    .pa-l-md-05 {
        padding-left: 0.5cqmax;
    }
    
    .pa-l-md-1 {
        padding-left: 1cqmax;
    }
    
    .pa-l-md-15 {
        padding-left: 1.5cqmax;
    }
    
    .pa-l-md-2 {
        padding-left: 2cqmax;
    }
    
    .pa-l-md-25 {
        padding-left: 2.5cqmax;
    }
    
    .pa-l-md-3 {
        padding-left: 3cqmax;
    }
    
    .pa-l-md-35 {
        padding-left: 3.5cqmax;
    }
    
    .pa-l-md-4 {
        padding-left: 4cqmax;
    }
    
    .pa-l-md-45 {
        padding-left: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .pa-l-sm-033 {
        padding-left: 0.33cqmax;
    }
    
    .pa-l-sm-05 {
        padding-left: 0.5cqmax;
    }
    
    .pa-l-sm-1 {
        padding-left: 1cqmax;
    }
    
    .pa-l-sm-15 {
        padding-left: 1.5cqmax;
    }
    
    .pa-l-sm-2 {
        padding-left: 2cqmax;
    }
    
    .pa-l-sm-25 {
        padding-left: 2.5cqmax;
    }
    
    .pa-l-sm-3 {
        padding-left: 3cqmax;
    }
    
    .pa-l-sm-35 {
        padding-left: 3.5cqmax;
    }
    
    .pa-l-sm-4 {
        padding-left: 4cqmax;
    }
    
    .pa-l-sm-45 {
        padding-left: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .pa-l-xs-033 {
        padding-left: 0.33cqmax;
    }
    
    .pa-l-xs-05 {
        padding-left: 0.5cqmax;
    }
    
    .pa-l-xs-1 {
        padding-left: 1cqmax;
    }
    
    .pa-l-xs-15 {
        padding-left: 1.5cqmax;
    }
    
    .pa-l-xs-2 {
        padding-left: 2cqmax;
    }
    
    .pa-l-xs-25 {
        padding-left: 2.5cqmax;
    }
    
    .pa-l-xs-3 {
        padding-left: 3cqmax;
    }
    
    .pa-l-xs-35 {
        padding-left: 3.5cqmax;
    }
    
    .pa-l-xs-4 {
        padding-left: 4cqmax;
    }
    
    .pa-l-xs-45 {
        padding-left: 4.5cqmax;
    }
}
/* ========================================= */
.ma-033 {
    margin: 0.33cqmax;
}

.ma-05 {
    margin: 0.5cqmax;
}

.ma-1 {
    margin: 1cqmax;
}

.ma-15 {
    margin: 1.5cqmax;
}

.ma-2 {
    margin: 2cqmax;
}

.ma-25 {
    margin: 2.5cqmax;
}

.ma-3 {
    margin: 3cqmax;
}

.ma-35 {
    margin: 3.5cqmax;
}

.ma-4 {
    margin: 4cqmax;
}

.ma-45 {
    margin: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .ma-lg-033 {
        margin: 0.33cqmax;
    }
    
    .ma-lg-05 {
        margin: 0.5cqmax;
    }
    
    .ma-lg-1 {
        margin: 1cqmax;
    }
    
    .ma-lg-15 {
        margin: 1.5cqmax;
    }
    
    .ma-lg-2 {
        margin: 2cqmax;
    }
    
    .ma-lg-25 {
        margin: 2.5cqmax;
    }
    
    .ma-lg-3 {
        margin: 3cqmax;
    }
    
    .ma-lg-35 {
        margin: 3.5cqmax;
    }
    
    .ma-lg-4 {
        margin: 4cqmax;
    }
    
    .ma-lg-45 {
        margin: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .ma-md-033 {
        margin: 0.33cqmax;
    }
    
    .ma-md-05 {
        margin: 0.5cqmax;
    }
    
    .ma-md-1 {
        margin: 1cqmax;
    }
    
    .ma-md-15 {
        margin: 1.5cqmax;
    }
    
    .ma-md-2 {
        margin: 2cqmax;
    }
    
    .ma-md-25 {
        margin: 2.5cqmax;
    }
    
    .ma-md-3 {
        margin: 3cqmax;
    }
    
    .ma-md-35 {
        margin: 3.5cqmax;
    }
    
    .ma-md-4 {
        margin: 4cqmax;
    }
    
    .ma-md-45 {
        margin: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .ma-sm-033 {
        margin: 0.33cqmax;
    }
    
    .ma-sm-05 {
        margin: 0.5cqmax;
    }
    
    .ma-sm-1 {
        margin: 1cqmax;
    }
    
    .ma-sm-15 {
        margin: 1.5cqmax;
    }
    
    .ma-sm-2 {
        margin: 2cqmax;
    }
    
    .ma-sm-25 {
        margin: 2.5cqmax;
    }
    
    .ma-sm-3 {
        margin: 3cqmax;
    }
    
    .ma-sm-35 {
        margin: 3.5cqmax;
    }
    
    .ma-sm-4 {
        margin: 4cqmax;
    }
    
    .ma-sm-45 {
        margin: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .ma-xs-033 {
        margin: 0.33cqmax;
    }
    
    .ma-xs-05 {
        margin: 0.5cqmax;
    }
    
    .ma-xs-1 {
        margin: 1cqmax;
    }
    
    .ma-xs-15 {
        margin: 1.5cqmax;
    }
    
    .ma-xs-2 {
        margin: 2cqmax;
    }
    
    .ma-xs-25 {
        margin: 2.5cqmax;
    }
    
    .ma-xs-3 {
        margin: 3cqmax;
    }
    
    .ma-xs-35 {
        margin: 3.5cqmax;
    }
    
    .ma-xs-4 {
        margin: 4cqmax;
    }
    
    .ma-xs-45 {
        margin: 4.5cqmax;
    }
}
/* ========================================= */
.ma-t-033 {
    margin-top: 0.33cqmax;
}

.ma-t-05 {
    margin-top: 0.5cqmax;
}

.ma-t-1 {
    margin-top: 1cqmax;
}

.ma-t-15 {
    margin-top: 1.5cqmax;
}

.ma-t-2 {
    margin-top: 2cqmax;
}

.ma-t-25 {
    margin-top: 2.5cqmax;
}

.ma-t-3 {
    margin-top: 3cqmax;
}

.ma-t-35 {
    margin-top: 3.5cqmax;
}

.ma-t-4 {
    margin-top: 4cqmax;
}

.ma-t-45 {
    margin-top: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .ma-t-lg-033 {
        margin-top: 0.33cqmax;
    }
    
    .ma-t-lg-05 {
        margin-top: 0.5cqmax;
    }
    
    .ma-t-lg-1 {
        margin-top: 1cqmax;
    }
    
    .ma-t-lg-15 {
        margin-top: 1.5cqmax;
    }
    
    .ma-t-lg-2 {
        margin-top: 2cqmax;
    }
    
    .ma-t-lg-25 {
        margin-top: 2.5cqmax;
    }
    
    .ma-t-lg-3 {
        margin-top: 3cqmax;
    }
    
    .ma-t-lg-35 {
        margin-top: 3.5cqmax;
    }
    
    .ma-t-lg-4 {
        margin-top: 4cqmax;
    }
    
    .ma-t-lg-45 {
        margin-top: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .ma-t-md-033 {
        margin-top: 0.33cqmax;
    }
    
    .ma-t-md-05 {
        margin-top: 0.5cqmax;
    }
    
    .ma-t-md-1 {
        margin-top: 1cqmax;
    }
    
    .ma-t-md-15 {
        margin-top: 1.5cqmax;
    }
    
    .ma-t-md-2 {
        margin-top: 2cqmax;
    }
    
    .ma-t-md-25 {
        margin-top: 2.5cqmax;
    }
    
    .ma-t-md-3 {
        margin-top: 3cqmax;
    }
    
    .ma-t-md-35 {
        margin-top: 3.5cqmax;
    }
    
    .ma-t-md-4 {
        margin-top: 4cqmax;
    }
    
    .ma-t-md-45 {
        margin-top: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .ma-t-sm-033 {
        margin-top: 0.33cqmax;
    }
    
    .ma-t-sm-05 {
        margin-top: 0.5cqmax;
    }
    
    .ma-t-sm-1 {
        margin-top: 1cqmax;
    }
    
    .ma-t-sm-15 {
        margin-top: 1.5cqmax;
    }
    
    .ma-t-sm-2 {
        margin-top: 2cqmax;
    }
    
    .ma-t-sm-25 {
        margin-top: 2.5cqmax;
    }
    
    .ma-t-sm-3 {
        margin-top: 3cqmax;
    }
    
    .ma-t-sm-35 {
        margin-top: 3.5cqmax;
    }
    
    .ma-t-sm-4 {
        margin-top: 4cqmax;
    }
    
    .ma-t-sm-45 {
        margin-top: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .ma-t-xs-033 {
        margin-top: 0.33cqmax;
    }
    
    .ma-t-xs-05 {
        margin-top: 0.5cqmax;
    }
    
    .ma-t-xs-1 {
        margin-top: 1cqmax;
    }
    
    .ma-t-xs-15 {
        margin-top: 1.5cqmax;
    }
    
    .ma-t-xs-2 {
        margin-top: 2cqmax;
    }
    
    .ma-t-xs-25 {
        margin-top: 2.5cqmax;
    }
    
    .ma-t-xs-3 {
        margin-top: 3cqmax;
    }
    
    .ma-t-xs-35 {
        margin-top: 3.5cqmax;
    }
    
    .ma-t-xs-4 {
        margin-top: 4cqmax;
    }
    
    .ma-t-xs-45 {
        margin-top: 4.5cqmax;
    }
}
/* ========================================= */
.ma-b-033 {
    margin-bottom: 0.33cqmax;
}

.ma-b-05 {
    margin-bottom: 0.5cqmax;
}

.ma-b-1 {
    margin-bottom: 1cqmax;
}

.ma-b-15 {
    margin-bottom: 1.5cqmax;
}

.ma-b-2 {
    margin-bottom: 2cqmax;
}

.ma-b-25 {
    margin-bottom: 2.5cqmax;
}

.ma-b-3 {
    margin-bottom: 3cqmax;
}

.ma-b-35 {
    margin-bottom: 3.5cqmax;
}

.ma-b-4 {
    margin-bottom: 4cqmax;
}

.ma-b-45 {
    margin-bottom: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .ma-b-lg-033 {
        margin-bottom: 0.33cqmax;
    }
    
    .ma-b-lg-05 {
        margin-bottom: 0.5cqmax;
    }
    
    .ma-b-lg-1 {
        margin-bottom: 1cqmax;
    }
    
    .ma-b-lg-15 {
        margin-bottom: 1.5cqmax;
    }
    
    .ma-b-lg-2 {
        margin-bottom: 2cqmax;
    }
    
    .ma-b-lg-25 {
        margin-bottom: 2.5cqmax;
    }
    
    .ma-b-lg-3 {
        margin-bottom: 3cqmax;
    }
    
    .ma-b-lg-35 {
        margin-bottom: 3.5cqmax;
    }
    
    .ma-b-lg-4 {
        margin-bottom: 4cqmax;
    }
    
    .ma-b-lg-45 {
        margin-bottom: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .ma-b-md-033 {
        margin-bottom: 0.33cqmax;
    }
    
    .ma-b-md-05 {
        margin-bottom: 0.5cqmax;
    }
    
    .ma-b-md-1 {
        margin-bottom: 1cqmax;
    }
    
    .ma-b-md-15 {
        margin-bottom: 1.5cqmax;
    }
    
    .ma-b-md-2 {
        margin-bottom: 2cqmax;
    }
    
    .ma-b-md-25 {
        margin-bottom: 2.5cqmax;
    }
    
    .ma-b-md-3 {
        margin-bottom: 3cqmax;
    }
    
    .ma-b-md-35 {
        margin-bottom: 3.5cqmax;
    }
    
    .ma-b-md-4 {
        margin-bottom: 4cqmax;
    }
    
    .ma-b-md-45 {
        margin-bottom: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .ma-b-sm-033 {
        margin-bottom: 0.33cqmax;
    }
    
    .ma-b-sm-05 {
        margin-bottom: 0.5cqmax;
    }
    
    .ma-b-sm-1 {
        margin-bottom: 1cqmax;
    }
    
    .ma-b-sm-15 {
        margin-bottom: 1.5cqmax;
    }
    
    .ma-b-sm-2 {
        margin-bottom: 2cqmax;
    }
    
    .ma-b-sm-25 {
        margin-bottom: 2.5cqmax;
    }
    
    .ma-b-sm-3 {
        margin-bottom: 3cqmax;
    }
    
    .ma-b-sm-35 {
        margin-bottom: 3.5cqmax;
    }
    
    .ma-b-sm-4 {
        margin-bottom: 4cqmax;
    }
    
    .ma-b-sm-45 {
        margin-bottom: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .ma-b-xs-033 {
        margin-bottom: 0.33cqmax;
    }
    
    .ma-b-xs-05 {
        margin-bottom: 0.5cqmax;
    }
    
    .ma-b-xs-1 {
        margin-bottom: 1cqmax;
    }
    
    .ma-b-xs-15 {
        margin-bottom: 1.5cqmax;
    }
    
    .ma-b-xs-2 {
        margin-bottom: 2cqmax;
    }
    
    .ma-b-xs-25 {
        margin-bottom: 2.5cqmax;
    }
    
    .ma-b-xs-3 {
        margin-bottom: 3cqmax;
    }
    
    .ma-b-xs-35 {
        margin-bottom: 3.5cqmax;
    }
    
    .ma-b-xs-4 {
        margin-bottom: 4cqmax;
    }
    
    .ma-b-xs-45 {
        margin-bottom: 4.5cqmax;
    }
}
/* ========================================= */
.ma-r-033 {
    margin-right: 0.33cqmax;
}

.ma-r-05 {
    margin-right: 0.5cqmax;
}

.ma-r-1 {
    margin-right: 1cqmax;
}

.ma-r-15 {
    margin-right: 1.5cqmax;
}

.ma-r-2 {
    margin-right: 2cqmax;
}

.ma-r-25 {
    margin-right: 2.5cqmax;
}

.ma-r-3 {
    margin-right: 3cqmax;
}

.ma-r-35 {
    margin-right: 3.5cqmax;
}

.ma-r-4 {
    margin-right: 4cqmax;
}

.ma-r-45 {
    margin-right: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .ma-r-lg-033 {
        margin-right: 0.33cqmax;
    }
    
    .ma-r-lg-05 {
        margin-right: 0.5cqmax;
    }
    
    .ma-r-lg-1 {
        margin-right: 1cqmax;
    }
    
    .ma-r-lg-15 {
        margin-right: 1.5cqmax;
    }
    
    .ma-r-lg-2 {
        margin-right: 2cqmax;
    }
    
    .ma-r-lg-25 {
        margin-right: 2.5cqmax;
    }
    
    .ma-r-lg-3 {
        margin-right: 3cqmax;
    }
    
    .ma-r-lg-35 {
        margin-right: 3.5cqmax;
    }
    
    .ma-r-lg-4 {
        margin-right: 4cqmax;
    }
    
    .ma-r-lg-45 {
        margin-right: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .ma-r-md-033 {
        margin-right: 0.33cqmax;
    }
    
    .ma-r-md-05 {
        margin-right: 0.5cqmax;
    }
    
    .ma-r-md-1 {
        margin-right: 1cqmax;
    }
    
    .ma-r-md-15 {
        margin-right: 1.5cqmax;
    }
    
    .ma-r-md-2 {
        margin-right: 2cqmax;
    }
    
    .ma-r-md-25 {
        margin-right: 2.5cqmax;
    }
    
    .ma-r-md-3 {
        margin-right: 3cqmax;
    }
    
    .ma-r-md-35 {
        margin-right: 3.5cqmax;
    }
    
    .ma-r-md-4 {
        margin-right: 4cqmax;
    }
    
    .ma-r-md-45 {
        margin-right: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .ma-r-sm-033 {
        margin-right: 0.33cqmax;
    }
    
    .ma-r-sm-05 {
        margin-right: 0.5cqmax;
    }
    
    .ma-r-sm-1 {
        margin-right: 1cqmax;
    }
    
    .ma-r-sm-15 {
        margin-right: 1.5cqmax;
    }
    
    .ma-r-sm-2 {
        margin-right: 2cqmax;
    }
    
    .ma-r-sm-25 {
        margin-right: 2.5cqmax;
    }
    
    .ma-r-sm-3 {
        margin-right: 3cqmax;
    }
    
    .ma-r-sm-35 {
        margin-right: 3.5cqmax;
    }
    
    .ma-r-sm-4 {
        margin-right: 4cqmax;
    }
    
    .ma-r-sm-45 {
        margin-right: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .ma-r-xs-033 {
        margin-right: 0.33cqmax;
    }
    
    .ma-r-xs-05 {
        margin-right: 0.5cqmax;
    }
    
    .ma-r-xs-1 {
        margin-right: 1cqmax;
    }
    
    .ma-r-xs-15 {
        margin-right: 1.5cqmax;
    }
    
    .ma-r-xs-2 {
        margin-right: 2cqmax;
    }
    
    .ma-r-xs-25 {
        margin-right: 2.5cqmax;
    }
    
    .ma-r-xs-3 {
        margin-right: 3cqmax;
    }
    
    .ma-r-xs-35 {
        margin-right: 3.5cqmax;
    }
    
    .ma-r-xs-4 {
        margin-right: 4cqmax;
    }
    
    .ma-r-xs-45 {
        margin-right: 4.5cqmax;
    }
}
/* ========================================= */
.ma-l-033 {
    margin-left: 0.33cqmax;
}

.ma-l-05 {
    margin-left: 0.5cqmax;
}

.ma-l-1 {
    margin-left: 1cqmax;
}

.ma-l-15 {
    margin-left: 1.5cqmax;
}

.ma-l-2 {
    margin-left: 2cqmax;
}

.ma-l-25 {
    margin-left: 2.5cqmax;
}

.ma-l-3 {
    margin-left: 3cqmax;
}

.ma-l-35 {
    margin-left: 3.5cqmax;
}

.ma-l-4 {
    margin-left: 4cqmax;
}

.ma-l-45 {
    margin-left: 4.5cqmax;
}
/* ========================================= */
@media screen and (min-width: 1500px) {
    .ma-l-lg-033 {
        margin-left: 0.33cqmax;
    }
    
    .ma-l-lg-05 {
        margin-left: 0.5cqmax;
    }
    
    .ma-l-lg-1 {
        margin-left: 1cqmax;
    }
    
    .ma-l-lg-15 {
        margin-left: 1.5cqmax;
    }
    
    .ma-l-lg-2 {
        margin-left: 2cqmax;
    }
    
    .ma-l-lg-25 {
        margin-left: 2.5cqmax;
    }
    
    .ma-l-lg-3 {
        margin-left: 3cqmax;
    }
    
    .ma-l-lg-35 {
        margin-left: 3.5cqmax;
    }
    
    .ma-l-lg-4 {
        margin-left: 4cqmax;
    }
    
    .ma-l-lg-45 {
        margin-left: 4.5cqmax;
    }
}

@media screen and (max-width: 992px) {
    .ma-l-md-033 {
        margin-left: 0.33cqmax;
    }
    
    .ma-l-md-05 {
        margin-left: 0.5cqmax;
    }
    
    .ma-l-md-1 {
        margin-left: 1cqmax;
    }
    
    .ma-l-md-15 {
        margin-left: 1.5cqmax;
    }
    
    .ma-l-md-2 {
        margin-left: 2cqmax;
    }
    
    .ma-l-md-25 {
        margin-left: 2.5cqmax;
    }
    
    .ma-l-md-3 {
        margin-left: 3cqmax;
    }
    
    .ma-l-md-35 {
        margin-left: 3.5cqmax;
    }
    
    .ma-l-md-4 {
        margin-left: 4cqmax;
    }
    
    .ma-l-md-45 {
        margin-left: 4.5cqmax;
    }
}

@media screen and (max-width: 576px) {
    .ma-l-sm-033 {
        margin-left: 0.33cqmax;
    }
    
    .ma-l-sm-05 {
        margin-left: 0.5cqmax;
    }
    
    .ma-l-sm-1 {
        margin-left: 1cqmax;
    }
    
    .ma-l-sm-15 {
        margin-left: 1.5cqmax;
    }
    
    .ma-l-sm-2 {
        margin-left: 2cqmax;
    }
    
    .ma-l-sm-25 {
        margin-left: 2.5cqmax;
    }
    
    .ma-l-sm-3 {
        margin-left: 3cqmax;
    }
    
    .ma-l-sm-35 {
        margin-left: 3.5cqmax;
    }
    
    .ma-l-sm-4 {
        margin-left: 4cqmax;
    }
    
    .ma-l-sm-45 {
        margin-left: 4.5cqmax;
    }
}

@media screen and (max-width: 350px) {
    .ma-l-xs-033 {
        margin-left: 0.33cqmax;
    }
    
    .ma-l-xs-05 {
        margin-left: 0.5cqmax;
    }
    
    .ma-l-xs-1 {
        margin-left: 1cqmax;
    }
    
    .ma-l-xs-15 {
        margin-left: 1.5cqmax;
    }
    
    .ma-l-xs-2 {
        margin-left: 2cqmax;
    }
    
    .ma-l-xs-25 {
        margin-left: 2.5cqmax;
    }
    
    .ma-l-xs-3 {
        margin-left: 3cqmax;
    }
    
    .ma-l-xs-35 {
        margin-left: 3.5cqmax;
    }
    
    .ma-l-xs-4 {
        margin-left: 4cqmax;
    }
    
    .ma-l-xs-45 {
        margin-left: 4.5cqmax;
    }
}
/* ========================================= */